<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Iboh Gestion {% endblock %}</title>
    <!-- Place favicon.ico in the root directory -->
    <link href="{{ asset('apple-touch-icon.png') }}" type="img/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- All css files are included here. -->

    <!-- customizer style css -->

    {% block css %}{% endblock %}

    <!-- Moderniser JS -->
</head>
<body>

<header></header>
<div id="page" class="container-fluid">
    <ul id="left-menu"  class="col-2">
        <li><a href="#"><i class="fa fa-tachometer-alt"></i>Tableau de Bord</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Facturation</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Pro-forma</a></li>
                <li><a href="#"> Facture</a></li>
                <li><a href="#"> Devis</a></li>
                <li><a href="#"> Facture Fournisseurs</a></li>
            </ul>
        </li>
        <li class="active"><a href="#"><i class="fa fa-users"></i>Clients</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Clients</a></li>
                <li><a href="#"> Contact Client</a></li>
                <li><a href="#"> Prospects</a></li>
                <li><a href="#"> Contact Prospects</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-book-open"></i>Catalogue</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Articles</a></li>
                <li><a href="#"> Groupe d'articles</a></li>
                <li><a href="#"> Inventaire</a></li>
                <li><a href="#"> Mouvements de stock</a></li>
                <li><a href="#"> Mise à jour article</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-address-book"></i>Fournisseurs</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Fournisseurs</a></li>
                <li><a href="#"> Contacts Fournisseurs</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Caisse</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Entrée</a></li>
                <li><a href="#"> Sortie</a></li>
                <li><a href="#"> Mouvements de caisse</a></li>
                <li><a href="#"> Depense hors caisse</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-truck"></i>Bons </a>
            <ul class="sub-menu-left">
                <li><a href="#"> Bons de livraison</a></li>
                <li><a href="#"> Bons de commande</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Achats</a>
            <ul class="sub-menu-left">
                <li><a href="#"> Bons de réception </a></li>
                <li><a href="#"> Règlements</a></li>
            </ul>
        </li>
    </ul>

    <div id="content" class="col-10">
        {% block content %}

        {% endblock %}
    </div>
</div>


<footer></footer>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/axios.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lodash.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>