<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Iboh Gestion {% endblock %}</title>
    <!-- Place favicon.ico in the root directory -->
    <link href="{{ asset('apple-touch-icon.png') }}" type="img/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- All css files are included here. -->

    <!-- customizer style css -->

    {% block css %}{% endblock %}

    <!-- Moderniser JS -->
</head>
<body>

<header></header>
<div id="page" class="container-fluid">
    <ul id="left-menu"  class="col-2">
        <li><a href="{{ path('index', { "permalink": crm.company.permalien }) }}"><i class="fa fa-tachometer-alt"></i>Tableau de bord</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Facturation</a>
            <ul class="sub-menu-left">
                <li><a href="{{ path('documents', {"code" : "CUST_ORDER", "permalink": crm.company.permalien}) }}"> Commande</a></li>
                <li><a href="{{ path('documents', {"code" : "FACT", "permalink": crm.company.permalien}) }}"> Facture</a></li>
                <li><a href="{{ path('documents', {"code" : "QUOT", "permalink": crm.company.permalien}) }}"> Devis</a></li>
                <li><a href="#"> Bons de commande</a></li>
                <li><a href="#"> Paiements</a></li>
                <li><a href="#"> Acomptes</a></li>
                {#<li><a href="#"> Regroupements BL</a></li>#}
            </ul>
        </li>
        <li class="active"><a href="#"><i class="fa fa-users"></i>Clients</a>
            <ul class="sub-menu-left">
                <li><a href="{{ path('show_Entity', { type: 'client', "permalink": crm.company.permalien  }) }}"> Clients</a></li>


            </ul>
        </li>
        <li><a href="#"><i class="fa fa-book-open"></i>Catalogue</a>
            <ul class="sub-menu-left">
                <li><a href="{{ path('show-product', { "permalink": crm.company.permalien }) }}"> Articles</a></li>
                <li><a href="#"> Famille articles</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-address-book"></i>Fournisseurs</a>
            <ul class="sub-menu-left">
                <li><a href="{{ path('show_Entity', { type: 'fournisseur', "permalink": crm.company.permalien  }) }}">Liste fournisseurs</a></li>
                <li><a href="{{ path('documents', {"code" : "SUPP_ORDER", "permalink": crm.company.permalien}) }}"> Commande fournisseurs</a></li>
                <li><a href="#"> Facture fournisseurs</a></li>
                <li><a href="#"> Bons de commande</a></li>
                <li><a href="#"> Retard de règlement</a></li>
                <li><a href="#"> Arrivée à échéance</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Caisse</a>
            <ul class="sub-menu-left">
                <li><a href="{{ path('apport_liste') }}"> Apport</a></li>
                <li><a href="{{ path('depense_liste') }}"> Dépense</a></li>
                {#<li><a href="#"> Type de dépense</a></li>#}
                <li><a href="#"> Mouvements de caisse</a></li>
                {#<li><a href="#"> Dépense hors caisse</a></li>#}
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-truck"></i>Bons </a>
            <ul class="sub-menu-left">

                <li><a href="#"> Bons de livraison</a></li>
                <li><a href="#"> Bons de réception </a></li>

            </ul>
        </li>
        {#<li><a href="#"><i class="fa fa-shopping-cart"></i>Achats</a>#}
            {#<ul class="sub-menu-left">#}

                {#<li><a href="#"> Règlements</a></li>#}
            {#</ul>#}
        {#</li>#}
        <li><a href="#"><i class="fas fa-sort-amount-up"></i>Comptabilité </a>
            <ul class="sub-menu-left">
                <li><a href="#">Journal de caisse </a></li>
                <li><a href="#">Journal de vente </a></li>
                <li><a href="#">Journal d'achat </a></li>
                <li><a href="#">Balance </a></li>

            </ul>
        </li>
    </ul>


    <div id="content" class="col-10">
        {% block content %}

        {% endblock %}
    </div>
</div>


<footer></footer>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/fos_js_routes.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/axios.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lodash.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>