<table class="table">
    <thead>
    <tr>
        <th>Réf</th>
        <th>Désignation</th>
        <th>Prix U HT</th>
        <th>Qté en stock</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for produit in articles %}
        <tr>
            <td><a href="#">{{ produit.reference }}</a> </td>
            <td>{{ produit.designation }}</td>
            <td>{{ produit.prixUnitaire }}</td>
            <td>{{ produit.quantite }}</td>
            <td>{{ produit.fournisseursAsString }}</td>
            <td>
                <button data-designation="{{ produit.designation }}" data-pu="{{ produit.prixUnitaire }}" data-reference="{{ produit.reference }}" class="btn btn-primary add-product-in-modal">Ajouter</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>