{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="container-fluid">
        Liste des produits
    </h1>
    <div class="container-fluid action-buttons">
        <a href="{{ path('edit_product',  { id: 0, permalink: crm.company.permalien }) }}" class="btn btn-primary"><img title="Ajouter un produit" src="{{ asset('images/edit-circle.svg') }}" alt=""></a>
    </div>
    <div class="container-fluid list-container">
        <table id="document-list">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Désignation</th>
                <th>Prix U HT</th>
                <th>Qté</th>
                <th>Fournisseur</th>

            </tr>
            </thead>
            <tbody>
            {% for produit in cataloguetwig %}
                <tr>
                    <td><a href="#">{{ produit.reference }}</a> </td>
                    <td>{{ produit.designation }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.fournisseursAsString }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block currentPageMenu %}current-page-menu="article"{% endblock %}

