{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-4">

        <div class="row">

                <div class="col-md-3 sm mt-3">
                    <img src="{{ asset('img/icons/accounting.png') }}" alt="">
                </div>
                <div class="col-md-3 sm">
                    <img src="{{ asset('img/icons/file-1.png') }}" alt="">
                </div>
                <div class="col-md-3 sm">
                    <img src="{{ asset('img/icons/handshake.png') }}" alt="">
                </div>

        </div>

        <div class="row">
            
            <div class="col-md-3 sm">
                <img src="{{ asset('img/icons/project-management.png') }}" alt="">
            </div>
            <div class="col-md-3 sm">
                <img src="{{ asset('img/icons/user-29.png') }}" alt="">
            </div>


        </div>

    </div>

{% endblock %}

{% block js %}

{% endblock %}

