{% extends 'layout.html.twig' %}

{% block content %}

    <div class="position-client-zone">
        <h1 class="container-fluid">
            {{ document.typeDeDocuments.titre }} {{ document.reference }}
            {% if document.reste == document.montantTTC %}
                <span class="badge badge-danger">Non payé</span>
            {% elseif document.reste <= 0 %}
                <span class="badge badge-success">Soldé</span>
            {% else %}
                <span class="badge badge-warning">En cours</span>
            {% endif %}

        </h1>
    </div>

    <div class="container-fluid action-buttons position-client-zone">
        <a title="Modifier" href="{{ path('document', { code: document.typeDeDocuments.code, id: document.id, permalink: crm.company.permalien }) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
        <a target="_blank" title="Telecharger au format pdf" href="{{ asset('pdf/' ~ document.reference ~ '.pdf') }}" class="btn btn-outline-info"><i class="fa fa-file"></i></a>
        {% if document.typeDeDocuments.code == 'FACT' %}
            {% if document.reste > 0 %}
                <a title="Encaisser un paiement" href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#payment-modal"><i class="fa fa-money-bill-alt"></i></a>
            {% endif %}
        {% endif %}

        <a href="#" title="Supprimer" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {{ document.date|localizeddate('long', 'none', 'fr') }}
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 client-group">
                <div class="client">
                    <h5>{{ document.entite }}</h5>
                    <div>{{ document.entite.adresse|raw }}</div>
                </div>

            </div>
            <div class="row subject">
                Objet: {{ document.objet }}
            </div>
        </div>
        <div id="lignes" class="row">
            <table class="table-bordered table">
                <thead class=" thead-light">
                <tr>
                    <th>Reference</th>
                    <th>Désignation</th>
                    <th>Qté</th>
                    <th>Prix unitaire</th>
                    <th>TVA</th>
                    <th>Total HT</th>
                </tr>
                </thead>
                <tbody>
                {% for line in document.lignes %}
                    <tr>
                        <td>{{ line.reference }}</td>
                        <td>{{ line.designation }}</td>
                        <td>{{ line.quantite }}</td>
                        <td>{{ line.prixUnitaire }}</td>
                        <td>{{ line.tva }}</td>
                        <td>{{ line.ht }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid position-relative">
        <div class="row">
            <div class="conditions col-md-5">
                <div class="">
                    {% if document.modeDePaiement is not empty %}
                        <div>
                            Mode de paiement: {{ document.modeDePaiement }}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    <ul>
                        {% for condition in document.conditionsDeReglements %}
                            <li>{{ condition }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="">
                    {% if document.dureeDeValidite is not empty %}
                        <div>
                            Durée de validité: {{ document.dureeDeValidite }}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if document.tauxDePenalite is not empty %}
                        <div>
                            Taux de pénalité (En cas de non respect des echéances): {{ document.tauxDePenalite }}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if document.dateDeLivraison is not empty %}
                        <div>
                            Date de livraison: {{ document.dateDeLivraison|date('d m Y') }}
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-2"></div>
            <div class="summary col-md-5">

                <table class="table-bordered table">
                    <tbody>
                    <tr class="font-weight-bold">
                        <td>Total HT</td>
                        <td>{{ document.montantHT }}</td>
                    </tr>
                    <tr>
                        <td>Total TVA</td>
                        <td>{{ document.tva }}</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>Total TTC</td>
                        <td>{{ document.montantTTC }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                    <tr class="font-weight-bold">
                        <td>Net à payer</td>
                        <td>{{ document.montantTTC }}</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>Reste à payer</td>
                        <td>{{ document.reste }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {% if document.typeDeDocuments.code == 'FACT' %}
                <div class="col-md-12">
                    <h3>Paiements</h3>
                    <div>
                        <table class="table-bordered table">
                            <thead class=" thead-light">
                            <tr>
                                <th>Montant</th>
                                <th>Date</th>
                                <th>Libellé</th>
                                <th>Mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paiement in document.paiements %}
                                <tr>
                                    <td>{{ paiement.montant }}</td>
                                    <td>{{ paiement.date|localizeddate('long', 'none', 'fr') }}</td>
                                    <td>{{ paiement.libelle }}</td>
                                    <td>{{ paiement.modeDePaiement }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            {% endif %}

            <div class="comments col-md-12">
                {% if document.commentaire is not empty %}
                    <h3>Commentaires</h3>
                    <div class="comment-content">
                        {{ document.commentaire|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# intégratation du modal de paiement #}

{% if document.reste > 0 %}
    {{ form_start(form) }}
    <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Encaisser un paiement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.montant) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.libelle) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.modeDePaiement) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}


{% endblock %}

{% block js %}

{% endblock %}

